#notifier {
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 2.3;
  float: right;
  margin-top: 19px;
  margin-right: 50px;
}}

#notification_list {
  display: none;
}

.active {
  display: block;
}

.tweet_owner {
  font-size: 8px;
  color: gray;
}
